1.Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
varNum= 10
print(varNum)

10

2.Imprimir el tipo de dato de la constante 8.5

In [2]:
type(8.5)

float

3.Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
type(varNum)

int

4.Crear una variable que contenga tu nombre

In [6]:
miNombre= "Mariugenia"

5.Crear una variable que contenga un número complejo

In [5]:
complejo= 1+2j

6.Mostrar el tipo de dato de la variable crada en el punto 5

In [7]:
type(complejo)

complex

7.Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [10]:
varPi= 3.1416

8.Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [11]:
strTrue= 'True'
varTrue= True

9.Imprimir el tipo de dato correspondientes a las variables creadas en el punto 9

In [16]:
print('La variable 1 es de tipo ', type(strTrue), ' y la variable 2 es de tipo ', type(varTrue))

La variable 1 es de tipo  <class 'str'>  y la variable 2 es de tipo  <class 'bool'>

10.Asignar a una variable, la suma de un número entero y otro decimal

In [17]:
suma= 2 + 2.5
print(suma)

4.5

11.Realizar una operación de suma de números complejos

In [18]:
a = 2 + 3j
b= -5 + 2j
print(a+b)

(-3+5j)

12.Realizar una operación de suma de un número real y otro complejo

In [2]:
d= 2.5
e= 1 + 5j
print(d+e)

(3.5+5j)

13.Realizar una operación de multiplicación

In [3]:
print(2*9)

18

14.Mostrar el resultado de elevar 2 a la octava potencia

In [5]:
print(2**8)

256

15.Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [6]:
cociente= 27/4
print(cociente)

6.75

16.De la división anterior solamente mostrar la parte entera

In [7]:
print(27//4)

6

17.De la división de 27 entre 4 mostrar solamente el resto

In [8]:
print(27%4)

3

18.Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [9]:
print(6*4+3)

27

19.Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [11]:
print('Hola '+'Gente')

Hola Gente

20.Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [12]:
'2' == 2

False

21.Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [13]:
int('2') == 2

True

22.¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

Resp: Por la coma ya que el decimal en Python es un punto. Si se escribe 3.8 en lugar de 3,8 si lo convertirá

In [17]:
a = float('3,8')

ValueError: could not convert string to float: '3,8'

23.Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [19]:
varNumero= 3
varNumero -= 1
print(varNumero)

2

24.Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?


operate | bit value | octal value |                       description                        |
| ------- | --------- | ----------- | ---------------------------------------------------------------------- |
|         | 00000001  |           1 |                                                                        |
| 1 << 2  | 00000100  |           4 | mueve todos los bits a la izquierda 2 bits, rellena con 0 a la derecha |
| 1 >> 2  | 00000001  |           1 | mueve todos los bits a la derecha 2 bits, rellena con 0 a la izquierda |

El operador >> se llama rshift o right shift el cual indica un desplazamiento a la derecha por n bits. aquí un ejemplo

a = 60            #0011 1100 

b = 13            #0000 1101 

#si   hacemos a >> 2 se moverá 2 bits a la derecha

r = a >> 2

#r = 0000 1111

print(r) #15

In [20]:
1<<2

4

OTRA FORMA DE RESOLVER EL 23, USANDO POTENCIA:

Si se requiere << se utiliza multiplicacion

In [3]:
n=3
8<<n

64

In [4]:
8*(2**n)

64

Si se requiere >> se usa division el lugar de multiplicacion

In [5]:
8>>n

1

In [7]:
8/(2**n)

1.0

25.Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

Ambos deben ser del mismo tipode dato, se deben convertir a int o float y se obtendria un resultado si,ilar, se se convierten a string el resultado en una concatenacion de caracteres.

In [21]:
2 + '2'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

26.Realizar una operación válida entre valores de tipo entero y string

In [23]:
var1 = 'este texto se repite '
var2 = 2
print(var1 * var2 + str(var2) + ' veces')

este texto se repite este texto se repite 2 veces